

<h3>@Model.Name</h3>
<h3>@Model.Email</h3>



<h2>BioData</h2>

<form method="post">
    <table>
        <tr>
            <td><label for="name">Name:</label></td>
            <td><input type="text" name="Name" placeholder="Enter Your Name" value="@Model.Name" /></td>
        </tr>
        <tr>
        </tr>


        <tr>
            <td><label for="name">Email:</label></td>
            <td><input type="text" name="Email" placeholder="Enter Your Email" value="@Model.Email" /></td>
        </tr>

        <tr>
            <td><label for="name">Pass:</label></td>
            <td><input type="text" name="Password" placeholder="Enter Your Pass" value="@Model.Password" /></td>
        </tr>
        <tr>

            <td>
                <input type="submit" value="Submit"
                       style="background-color:red; color:white; border:none; padding:5px 10px; cursor:pointer;" />
            </td>

        </tr>
        <tr>
            <a href="/Db/TableList"> Click to see List </a>
        </tr>

    </table>
</form>
